
@media screen and (max-width: 560px) {
  .setCardDisplay{
display: block;
/* text-align: center; */
line-height: 39px;
  }
}


@media screen and (min-width: 560px) {
    .setCardDisplay{
    display: flex;
    line-height: 39px;
  }
}