
@media screen and (max-width: 560px) {
  .userProfile{
    width: 95%;
    margin: 0 auto;
    background-color: white;
    padding: 20px ;
  }
 }
 
 
 @media screen and (min-width: 560px) {
   .userProfile{
     width: 95%;
     max-width: 1550px;
     margin: 0 auto;
     background-color: white;
     padding: 20px
   }
 }